<div class="row">
  <div class="col-3 vh-100">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
      <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <input class="form-control" placeholder="Search..." (input)="search($event)"/>
      </div>

      <div class="list-group list-group-flush border-bottom scrollarea">
        @for (room of rooms; track room) {
          <a [routerLink]="['rooms', room.id]" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">{{ room.title }}</strong>
              <small>{{ showDate(room.last_message) }}</small>
            </div>
            <div class="col-10 mb-1 small">{{ showLastMessage(room.last_message) }}</div>
          </a>
        }

        <a routerLink="rooms/create" class="btn btn-primary my-2">Create Room</a>
      </div>
    </div>
  </div>

  <div class="col-9 border">
    <router-outlet/>
  </div>
</div>
